### Vim ###
# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

### Git ###
*.orig

# Byte-compiled / optimized / DLL files
*.py[cod]

# fish-y things
private.fish
fishd.*
fish_history
fish/.config/fish/fundle
fish/.config/fish/functions

# Fish universal vars
fish/.config/fish/fish_variables

# systemd
systemd/.config/systemd/user/default.target.wants

# home-assistant
home-assistant/.config/home-assistant/*.conf
home-assistant/.config/home-assistant/*.db
home-assistant/.config/home-assistant/*.log
home-assistant/.config/home-assistant/.HA_VERSION
home-assistant/.config/home-assistant/.storage
home-assistant/.config/home-assistant/.uuid
home-assistant/.config/home-assistant/known_devices.yaml
home-assistant/.config/home-assistant/secrets.yaml
