[Unit]
Description=Squeezelite Daemon

[Service]
Type=simple
ExecStart=/usr/bin/squeezelite -N %h/.config/squeezelite/playername -o pulse -d all=info

[Install]
WantedBy=default.target
