[Unit]
Description=Polybar

[Service]
Type=simple
ExecStart=/usr/bin/polybar --log=warning --reload default
Restart=always

[Install]
WantedBy=default.target
